body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 200;
    margin: 50px 0;
    padding: 0;
}

#outer {
    width: 600px;
    margin: 0 auto;
}

.article {
    white-space: pre-wrap;
    padding: 1em;
    background-color: #EFEFEF;
}
#article-container {
    width: 600px;
    margin: 0 auto;
    background-color: black;
}
#task-result {
    width: 500px;
	height: 120px;
}